doctype html
html(dir="ltr", lang="en", class="no-js")
  head
    link(rel="stylesheet", href="dist/css/main.css")
  body
    h1 Welcome
    .foo
    .Tour
    = '\n'
    script(src="dist/js/app.min.js")
