extends ../_layouts/default

block title
	title About - Page
	
block vars
	- var bodyClass = 'about';
	
block metas
	- var siteDescription = 'This is an About us page'
	- var facebookTitle = 'About Us'
	- var facebookDescription = 'This is an About us page'

block content
	include ../_partials/about
