extends ../_layouts/default

block title
	title Default - Page
	
block vars
	- var bodyClass = 'home';

block metas
	- var siteDescription = 'This is an Home page'
	- var facebookTitle = 'Home'
	- var facebookDescription = 'This is an Home page'

block content
	include ../_partials/index
