// BASE.scss
// MEDIA QUERIES DECLARATION
// FONT SIZE MIXIN DECLARATION
// VARIABLES DECLARATION
// SELECTION COLOR DECLARATION
// HYPERLINK MIXIN DECLARATION
// BOOTSTRAP FIXES
// HELPERS

// MEDIA QUERIES DECLARATION
$mobile: "only screen and (max-width: 480px)";
$phablet: "only screen and (max-width: 768px)";
$tablet: "only screen and (max-width: 992px)";
$desktop: "only screen and (max-width: 1200px)";
$mobile__up: "only screen and (min-width: 480px)";
$phablet__up: "only screen and (min-width: 768px)";
$tablet__up: "only screen and (min-width: 992px)";
$desktop__up: "only screen and (min-width: 1200px)";

// FONT SIZE MIXIN DECLARATION
@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 16) + rem;
}

// VARIABLES DECLARATION
// PIXELS
$px_one: 1px;
$px_two: 2px;
$px_three: 3px;
$px_four: 4px;
$px_five: 5px;
$px_six: 6px;
$px_seven: 7px;
$px_eight: 8px;
$px_nine: 9px;
$px_ten: 10px;
$px_eleven: 11px;
$px_twelve: 12px;
$px_thirteen: 13px;
$px_fourteen: 14px;
$px_fifteen: 15px;
// FONT SIZES
$font-size-small: $px_twelve; //// 12px
$font-size-regular: $px_twelve+$px_four; //// 16px
$font-size-large: $px_fourteen+$px_ten; //// 24px
// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;
// STANDARD COLORS
$black: #000;
$white: #fff;
$green: #2bca7f;
$grey: #999;
// USED COLORS.
// Please declare color names with postfix -color. See more - http://thesassway.com/beginner/variable-naming
$primary-color: $grey;
$secondary-color: $grey;

// SELECTION COLOR DECLARATION - https://css-tricks.com/almanac/selectors/s/selection/
*::-moz-selection,
*::selection {
  color: $white;
  background-color: $black;
}

// HYPERLINK MIXIN DECLARATION
@mixin linx($link, $visit, $hover, $active) {
  a {
    color: $link;
    transition: all .6s;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

// BOOTSTRAP FIXES
/*
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
*/
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

// HELPERS

/* -- SHORTHAND NOTATIONS
* background: #000 url(images/bg.gif) no-repeat top right;
* font: italic bold .8em/1.2 Arial, sans-serif;
* border: 1px solid #000;
* margin: 10px 5px 10px 5px;
*/

/* -- DECLARATION ORDER
* Positioning, Z-index |||| Box-Model, Floats, Size |||| Typography, Color, Alignment |||| Visual, Border |||| Misc 
*/

/* -- THIRD PARTY LINKS FOR HTML
ASCII Codes: http://htmlarrows.com/ |||| http://entity-lookup.leftlogic.com/
HTML Elements: https://html.spec.whatwg.org/multipage/indices.html#elements-3/
HTML Element Attributes: https://html.spec.whatwg.org/multipage/indices.html#attributes-3/
HTML Guide: http://htmlreference.io/
Pug Guide: https://pugjs.org/api/getting-started.html/
Outliner: https://gsnedders.html5.org/outliner/
Semantic Guide: http://codeguide.co/#html
Table Generator: http://www.tablesgenerator.com/
*/

/* -- THIRD PARTY LINKS FOR CSS
Click Chart: http://css3clickchart.com/
CSS Arrows: http://www.cssarrowplease.com/
CSS Guide: http://cssreference.io/
CSS Linear Gradient Generator: http://www.colorzilla.com/gradient-editor/
CSS Matic: http://www.cssmatic.com/
CSS Tricks: https://css-tricks.com/
CSS Values: http://cssvalues.com/
SCSS Guide: http://thesassway.com/
*/