// MODULE.scss

// Declare Placeholders : http://thesassway.com/intermediate/using-object-oriented-css-with-sass
%button {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
}
